<footer class="page-footer font-small bg-secondary pt-4">
    
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/" target="_black" class="iconFacebook">
                            <i class="fab fa-facebook"></i></a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/" target="_black" class="iconInstagram">
                            <i class="fab fa-instagram-square"></i></a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/heloisa-beatriz-515139197/" target="_black" class="iconLinkedin">
                            <i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
